<header class="header pri">
  <a class="header-brand" href="/">
    <img src="https://www.svgrepo.com/show/502707/html.svg" alt="" width="32"class="d-inline-block align-top" alt="CoreUI Logo">
    HTML Tags
  </a>
  <button class="header-toggler" type="button" disabled>
    <span class="header-toggler-icon"></span>
  </button>
  <ul class="header-nav ml-auto">
    <li class="nav-item dropdown me-4">
      <a class="nav-link dropdown-toggle" id="headerDropdown" role="button" data-coreui-toggle="dropdown" aria-expanded="false">
        User
      </a>
      <div class="dropdown-menu" >
        <a class="dropdown-item" id="btn-sign-up">Sign up</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" id="btn-log-in">Log in</a>  
      </div>
    </li>
     <li class="nav-item me-4">
      <a class="nav-link disabled" href="/create" tabindex="-1" id="btn-create-tags" aria-disabled="true">Create tags</a>
    </li>
  </ul>
  <form class="d-flex search-form" method="get" id="getTag" required>
    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success" type="submit" >Search</button>
  </form>
</header>