<!--  Esto es un documento    -->
<div class="container">
  <table class="tagTable">
    <thead>
      <tr>
        <th><h3>Tags</h3></th>
        <th><h3>Usability</h3></th>
        <th><h3>Atributes</h3></th>
        <th><h3>Delete </h3></th>
      </tr>
    </thead>
  </table>
</div>
<button id="btn-go-create">Ir a Create </button>

