<!--  Esto es un documento    -->
<div class="container">
  <table class="tagTable">
  <tr>
      <th><h1>Tags</h1></th>
      <th><h1>Usability</h1></th>
      <th><h1>Unique content</h1></th>
  </tr>
  </table>
</div>
<button id="btn-go-create">Ir a Create (sin recargar)</button>

